* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 1290px;
    margin: auto;
}

body {font-family: Verdana, sans-serif;}
/* menu-section */
.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  
}
.icon-bar li {
  float: left;
  width: 20%;
  text-align: center;
  list-style: none;
}
.icon-bar li a {
  color: #fff;
  transition: all 0.3s;
  font-size: 36px;
  padding: 12px 30px;
}
.icon-bar li a:hover{
  background-color: #000;
}
#active {
  background-color: #04AA6D;
}
/* slider-section */
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* according-section */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.active, .accordion:hover{
  background-color: #ccc;
}
.accordion:after {
  content: "\2212";
}
.panel {
  padding: 0.18px;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}